*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    background: rgb(31,214,95);
    background: linear-gradient(90deg, rgba(31,214,95,1) 0%, rgba(5,9,41,1) 0%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    padding: 0px 40px;


}
.logo_area{
    float: left;
    width: 30%;
}
.logo_design{
    font-style: italic;
    color:whitesmoke;
    padding:5px 0;
}
span{
    color:red;

}

.menu_area{
    float: right;
    width: 70%;
}

ul{
    list-style: none;
    text-align: right;
}
ul li{
    display: inline-block;
    padding:15px 15px ;
    font-size: 20px;
    color:white;
    cursor: pointer;
}

ul li:hover{
    background-color: black;
   
}
/*  */

.container{
    padding: 40px 40px;
    overflow: hidden;
    background-color: #009688;

}

.heading1design{
    /* padding: 30px 0; */
    padding-bottom: 30px;
    text-align: center;
    color: white;
}
.left_area{
    float: left;
    width: 50%;
    text-align: center;

}
.right_area{
    float: right;
    width: 50%;
    /* text-align: right; */
    text-align: center;

}


.cont_img{
    border-radius: 4px;
}


.content{
    text-align: center;
    color:white;
}

.content p{
    width: 62%;
    margin: auto;
    text-align: justify;
    margin-top: 10px;
    font-style: italic;
}

/*  */


.wrapper{
    padding: 40px 40px;
    overflow: hidden;
    background-color: #e89191;

}

.heading2design{
    color:white;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    width: 60%;
}
.single_wrappers{
    float: left;
    width: 33.33%;
    text-align: center;
   
}

.contents{
    color:white;
    padding: 10px 0px;
}


.services_area{
    padding: 40px 40px;
    overflow: hidden;
    background-color: #6e6e6e;

}

.heading3design{
    color:white;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;


}


.services{
    float: left;
    width: 25%;
    text-align: center;
    color:white;
    padding: 0px 5px;

}


.services p{
    font-size: 16px;
    padding-top: 10px;
}


footer{
    background-color: #081B4B;
    padding: 12px;
    text-align: center;
    color:white;
    font-size: 20px;
}